.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* background-color: #b0e0e6; */
}
/*
html,
body,*/
#map_canvas {
  height: 600px; margin: 0; padding: 0;
/*  margin-right: 310px;
*/}

/*APP CSS
*/

#result_area{
  text-align: center;
  font-size: 15px;
  width: 78%
}

#directions_area {
  float: right;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.header{
  padding-left: 110px;
}


/*EXTENSION CSS
*/
#ext_result_area{
  text-align: center;
  font-size: 15px;
}
#ext_map_canvas {
  height: 260px; margin: 0; padding: 0;
}

